<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Search</title>
</head>
<body>
    <center>
        <h2>
            Search Your State
        </h2>
        <select>
            <option selected disabled="true"> -- State -- </option>
            {% for result in Location %}
              <option> {{ result.area }} </option> 
            {% endfor %}
           
        </select>
    </center>
</body>
</html>